extends layout.pug

block content

  article.portfolio-intro
    //-Portfolio header
    h1 Project Portfolio

    //- Portfolio desctiption
    p This page contains a list of all projects I have constructed while learning the basics of Web Development.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
      each project in projects
        .cell
          a(href=`../projects/${project.id}`)
            img.thumbnail(src=`/static/${project.image_urls[0]}`, alt=`${project.project_name} - project screenshot`)
            h5 #{project.project_name}

